:root {
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    ---Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

body {
    background-color: var(--Stone-100);
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.shaft {
    width: 1000px;
    background-color: var(--Stone-100);
    justify-content: center;
}
.shaft .container {
    margin: 50px 150px;
    width: 700px;
    background-color: #fff;
    justify-content: center;
    border-radius: 20px;
}
.shaft .container img {
    width: 650px;
    height: 300px;
    margin: 20px 25px;
    border-radius: 20px;
}
.shaft .container h1 {
    margin-left: 25px;
}
.shaft .container p {
    margin: 25px;
}
.shaft .container .preparation_div {
    background-color: var(--Rose-50);
    border-radius: 10px;
    width: 650px;
    margin: 20px 25px;
    padding: 20px 25px;
}
.shaft .container .preparation_div ul li {
    margin: 10px 25px;
}
.shaft .container .ingredients_div {
    border-bottom: 1px solid var(--Stone-150);
    margin: 20px 25px;
}

.shaft .container .ingredients_div ul li {
    margin: 15px 45px;
}

.shaft .container .instructions_div {
    border-bottom: 1px solid var(--Stone-150);
    margin: 20px 25px;
}
.shaft .container .instructions_div ol li {
    margin: 15px 45px;
}
.shaft .container .nutrition_div {
    margin: 5px 25px;
}

.vertical_table tbody td {
    width: 300px;
    padding: 15px;
}

.vertical_table tbody tr {
    width: 620px;
    border-bottom: 1px solid var(--Stone-150);
    display: block;
    margin-right: 25px;
}
.vertical_table tbody tr:last-child {
    border-bottom: none;
}
/* .vertical_table {
    border-collapse: collapse;
}
.vertical_table td,
.vertical_table th {
    border-bottom: 1px solid #000;
}
.vertical_table tbody tr:not(:last-child) td,
.vertical_table tbody:not(:last-child) th {
    border-bottom: 1px solid #000;
} */
